<footer>
    <p>Copyright © 2022 Torsten Scholak</p>
    <p>
        <a href="feed.xml"></a>

        {{#github_user}}
        <a href="https://github.com/{{.}}"></a>
        {{/github_user}}

        {{#twitter_handle}}
        <a href="https://twitter.com/{{.}}"></a>
        {{/twitter_handle}}

        {{#youtube_handle}}
        <a href="https://youtube.com/{{.}}"></a>
        {{/youtube_handle}}

        {{#twitch_handle}}
        <a href="https://twitch.com/{{.}}"></a>
        {{/twitch_handle}}
    </p>
</footer>