<head profile="http://www.w3.org/2005/10/profile">
    <title>{{siteTitle}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="{{siteDescription}}">
    <meta name="author" content="{{siteAuthor}}">
    <meta name="keywords" content="{{siteKeywords}}">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    {{>site/templates/meta-data.html}}
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" title="default">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
</head>