<!-- Open Graph / Facebook / LinkedIn -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{teaser}}">
<meta property="og:url" content="{{base_url}}{{#url}}/{{url}}{{/url}}">
{{#image}}
<meta property="og:image" content="{{base_url}}/images/{{image}}">
<meta property="og:image:alt" content="{{title}}">
{{/image}}
<meta property="og:site_name" content="{{author}}">
{{#author}}
<meta property="article:author" content="{{author}}">
{{/author}}

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
{{#twitter_handle}}
<meta name="twitter:site" content="@{{.}}">
<meta name="twitter:creator" content="@{{.}}">
{{/twitter_handle}}
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{teaser}}">
{{#image}}
<meta name="twitter:image" content="{{base_url}}/images/{{image}}">
{{/image}}