<!DOCTYPE html>
<html lang="en">
{{>site/templates/head.html}}

<body>
    {{>site/templates/header.html}}

    <div>
        <h1>{{title}}</h1>
        <p>
            Tagged as:
            {{#tags}}
            <a href="/tags/{{.}}">{{.}}</a>
            {{/tags}}
        </p>
        {{#image}}
        <p><img src="/images/{{image}}"></p>
        {{/image}}
        <p>{{date}}, {{readTime}} min read</p>
        {{{content}}}
    </div>

    <div>
        {{#prev}}
        <a href="/{{url}}">
            <div>
                <h2>Previous Post</h2>
                <h3>{{title}}</h3>
                <p>{{teaser}}</p>
                <date>{{date}}</date>
            </div>
        </a>
        {{/prev}}
        {{#next}}
        <a href="/{{url}}">
            <div>
                <h2>Next Post</h2>
                <h3>{{title}}</h3>
                <p>{{teaser}}</p>
                <date>{{date}}</date>
            </div>
        </a>
        {{/next}}
    </div>

    {{>site/templates/footer.html}}
</body>

</html>