<!DOCTYPE html>
<html lang="en">
{{>site/templates/head.html}}

<body>
    {{>site/templates/header.html}}

    <div>
        <h1>{{title}}</h1>
        <p>
            {{#tags}}
            <a href="/tags/{{.}}" class="tag {{.}}">{{.}}</a>
            {{/tags}}
        </p>
        {{#image}}
        <p><img src="/images/{{image}}"></p>
        {{/image}}
        <p>{{date}}, {{readTime}} min read</p>
        {{{content}}}
    </div>

    <div>
        {{#prev}}
        <a href="/{{url}}" class="prev">
            <div class="arrow">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="sample">
                <h2>{{title}}</h2>
                <p>{{teaser}}</p>
                <date>{{date}}</date>
            </div>
        </a>
        {{/prev}}
        {{#next}}
        <a href="/{{url}}" class="next">
            <div class="sample">
                <h2>{{title}}</h2>
                <p>{{teaser}}</p>
                <date>{{date}}</date>
            </div>
            <div class="arrow">
                <i class="fas fa-chevron-right"></i>
            </div>
        </a>
        {{/next}}
    </div>

    {{>site/templates/footer.html}}
</body>

</html>