<!DOCTYPE html>
<html lang="en">
{{>site/templates/head.html}}

<body>
    {{>site/templates/header.html}}

    <div>
        {{#image}}
        <p><img src="/images/{{image}}"></p>
        {{/image}}
        <h1>{{title}}</h1>
        <p>
            <div id="csl">
                {{#author}}
                <span>{{.}}</span>
                {{/author}}
            </div>
        </p>
        <p><em>{{journal}}</em></p>
        <p>{{date}}</p>
        <p><a href="{{link}}">{{link}}</a></p>
        <p>
            {{#pdf}}
            <a href="{{pdf}}">PDF</a>
            {{/pdf}}
            {{#code}}
            <a href="{{code}}">Code</a>
            {{/code}}
            {{#talk}}
            <a href="{{talk}}">Talk</a>
            {{/talk}}
            {{#slides}}
            <a href="{{slides}}">Slides</a>
            {{/slides}}
            {{#poster}}
            <a href="{{poster}}">Poster</a>
            {{/poster}}
        </p>
        <p>
            Tagged as:
            {{#tags}}
            <a href="/tags/{{.}}">{{.}}</a>
            {{/tags}}
        </p>
        <p>TL;DR: {{tldr}}</p>
        {{{content}}}
    </div>

    <div>
        {{#prev}}
        <a href="/{{url}}">
            <div>
                <h2>Previous Publication</h2>
                <h3>{{title}}</h3>
                <p>{{tldr}}</p>
                <date>{{date}}</date>
            </div>
        </a>
        {{/prev}}
        {{#next}}
        <a href="/{{url}}">
            <div>
                <h2>Next Publication</h2>
                <h3>{{title}}</h3>
                <p>{{tldr}}</p>
                <date>{{date}}</date>
            </div>
        </a>
        {{/next}}
    </div>

    {{>site/templates/footer.html}}
</body>

</html>