<!DOCTYPE html>
<html lang="en">
{{>site/templates/head.html}}

<body>
    {{>site/templates/header.html}}

    <div>
        <h1>Publications</h1>
        <p>
            Below is a list of recent publications I have written or contributed to.
            For a complete list,
            please visit <a href="https://scholar.google.com/citations?user={{google_scholar_handle}}">Google Scholar</a>.
        </p>
        {{>site/templates/publication-list.html}}
    </div>

    {{>site/templates/footer.html}}
</body>

</html>