<!DOCTYPE html>
<html lang="en">
{{>site/templates/head.html}}

<body>
    {{>site/templates/header.html}}

    <div>
        <p>{{{gitHash}}}</p>

        {{#image}}
        <p><img src="/images/{{.}}"></p>
        {{/image}}

        <h1>{{title}}</h1>
        <p>
            <div id="csl">
                {{#author}}
                <span>{{.}}</span>
                {{/author}}
            </div>
        </p>
        <p><em>{{journal}}</em></p>
        <p>Published on {{date}}</p>
        <p>Official link: <a href="{{link}}">{{link}}</a></p>
        <p>
            {{#pdf}}
            <a href="{{pdf}}">PDF</a>
            {{/pdf}}
            {{#code}}
            <a href="{{code}}">Code</a>
            {{/code}}
            {{#talk}}
            <a href="{{talk}}">Talk</a>
            {{/talk}}
            {{#slides}}
            <a href="{{slides}}">Slides</a>
            {{/slides}}
            {{#poster}}
            <a href="{{poster}}">Poster</a>
            {{/poster}}
        </p>
        {{#tags}}
        <p>
            Tagged as:
            {{#items}}
            <a href="/tags/{{.}}">{{.}}</a>
            {{/items}}
        </p>
        {{/tags}}
        <p>TL;DR: {{tldr}}</p>
        {{{content}}}
    </div>

    <div>
        {{#license}}
        <h1>License</h1>
        <p>
            {{#url}}<a href="{{.}}">{{/url}}{{name}}{{#url}}</a>{{/url}}
            {{#note}} — {{.}}{{/note}}
        </p>
        {{/license}}
    </div>

    <div>
        {{#next}}
        <a href="/{{url}}">
            <div>
                <h1>Next Publication</h1>
                <h2>{{title}}</h2>
                <p>{{date}}</p>
                <p>{{tldr}}</p>
            </div>
        </a>
        {{/next}}
        {{#prev}}
        <a href="/{{url}}">
            <div>
                <h1>Previous Publication</h1>
                <h2>{{title}}</h2>
                <p>{{date}}</p>
                <p>{{tldr}}</p>
            </div>
        </a>
        {{/prev}}
    </div>

    {{>site/templates/footer.html}}
</body>

</html>